<div class="relation-field">
  <ng-container [ngSwitch]="mode" *ngIf="!selected else selectedView">

    <relation-autocomplete
      *ngSwitchCase="'autocomplete'"
      [dataModel]="dataModel"
      (selectRelation)="onSelectRelation($event)"
    >
    </relation-autocomplete>

    <relation-table
      *ngSwitchCase="'table'"
      [dataModel]="dataModel"
      (selectRelation)="onSelectRelation($event)"
    >
    </relation-table>
  </ng-container>

  <ng-template #selectedView>
    <div class="relation-field__selected">
      <span>You selected: {{ selected.displayValue }}</span> &nbsp;<span class="close" (click)="reset()">x</span>
    </div>
  </ng-template>
</div>

