<div class="relation-field">
  <ng-container [ngSwitch]="mode" *ngIf="!selected else selectedView">
    <relation-autocomplete *ngSwitchCase="'autocomplete'" (selectRelation)="onSelectRelation($event)"></relation-autocomplete>
    <relation-table *ngSwitchCase="'table'" (selectRelation)="onSelectRelation($event)"></relation-table>
  </ng-container>
  <ng-template #selectedView>
    <span>You select: {{ selected.displayValue }}</span> &nbsp;<span class="close" (click)="reset()">x</span>
  </ng-template>
</div>

