<div [formGroup]="form">
  <div [ngSwitch]="field.controlType">
    <igx-input-group>

      <input *ngSwitchCase="'textbox'" igxInput [formControlName]="field.key" [id]="field.key" [type]="field.type">

      <select *ngSwitchCase="'dropdown'" igxInput [id]="field.key" [formControlName]="field.key">
        <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <label igxLabel [attr.for]="field.key">{{field.label}}</label>

    </igx-input-group>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div>
</div>
