<button *ngIf="!selectedRow else editToolbar" igxButton igxRipple (click)="create()">Create</button>
<ng-template #editToolbar>
  <button igxButton igxRipple (click)="edit(value)">Edit</button>
  <button igxButton igxRipple (click)="delete(value)">Delete</button>
</ng-template>
<p></p>

<ag-grid-angular
  class="ag-theme-balham"
  style="width: 100%; height: 500px;"
  enableSorting
  enableFilter
  enableColResize
  [rowData]="items"
  [columnDefs]="dictionaryConfig"
  rowSelection="single"
  (rowSelected)="onRowSelected($event)"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<igx-dialog #form title="Edit form" closeOnOutsideSelect="true">
  <app-dynamic-form [fields]="formFields" (formSubmit)="onFormSubmit($event)"></app-dynamic-form>
</igx-dialog>
