<h3>Autocomplete Hero relation input</h3>
<relation-field
  mode="autocomplete"
  [dataModel]="HeroModel"
></relation-field>

<h3>Table Hero relation input</h3>
<relation-field
  mode="table"
  [dataModel]="HeroModel"
></relation-field>

<hr>

<h3>Autocomplete Groceries relation input</h3>
<relation-field
  mode="autocomplete"
  [dataModel]="GroceriesModel"
>
</relation-field>

<h3>Table Groceries relation input</h3>
<relation-field
  mode="table"
  [dataModel]="GroceriesModel"
>
</relation-field>
