<button igxButton igxRipple (click)="create()">Create</button>
<p></p>

<igx-grid #grid [data]="heroes" width="1200px" height="600px" [rowSelectable]="true" [paging]="true">
  <igx-column field="id" header="Id"  width="150px" [sortable]="true" [filterable]="true" [resizable]="true" [hasSummary]="true">
  </igx-column>
  <igx-column field="name" header="Name"  width="150px" [sortable]="true" [filterable]="true" [resizable]="true">
  </igx-column>
  <igx-column field="email" header="Email"  width="150px" [sortable]="true" [filterable]="true" [resizable]="true">
  </igx-column>
  <igx-column field="age" header="age"  width="150px" [sortable]="true" [filterable]="true" [resizable]="true">
  </igx-column>
  <igx-column field="id" header="Actions">
    <ng-template igxCell let-value igxLayout>
      <div igxFlex>
        <button igxButton igxRipple (click)="edit(value)">Edit</button>
        <button igxButton igxRipple (click)="delete(value)">Delete</button>
      </div>
    </ng-template>
  </igx-column>
</igx-grid>

<igx-dialog #form title="Edit form" closeOnOutsideSelect="true">
  <app-dynamic-form [fields]="formFields" (newHero)="onHeroUpdate($event)"></app-dynamic-form>
</igx-dialog>
