<div id="search-component">
  <!-- TODO: 2 modex: typeahead and popup with table -->
  <ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'autocomplete'">
      <igx-input-group>
        <input igxInput #searchBox id="search-box" (keyup)="search(searchBox.value)" [(ngModel)]="searchBoxText"/>
      </igx-input-group>
      <ul class="search-result" *ngIf="searchBoxText">
        <li *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)">
          <!-- TODO: save and expose value on click -->
          <a>
            {{hero.name}}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'table'">
      <igx-input-group>
        <input igxInput #tableBox id="table-box" (click)="tableDialog.open()" />
      </igx-input-group>

      <igx-dialog #tableDialog
        title="Click any row to select entity"
        closeOnOutsideSelect="true"
      >
        <p>test</p>
      </igx-dialog>
    </ng-container>

  </ng-container>
</div>
