<igx-input-group>
  <input igxInput #tableBox id="table-box" (click)="showSearchTable()" placeholder="Click to select..."/>
</igx-input-group>

<igx-dialog #tableDialog
  class="table-dialog"
  title="Click any row to select an entity"
  closeOnOutsideSelect="true"
>
  <div class="table-dialog__content">
    <igx-grid
      #grid
      [data]="items"
      width="800px"
      height="600px"
      [autoGenerate]="true"
      *ngIf="items.length > 0"
      (onSelection)="handleRowSelection($event)"
      [paging]="true">
    </igx-grid>
  </div>
</igx-dialog>
